<div class="about-section">
  <span class="anchor" id="about"></span>
  <div class="row justify-content-around">
    <div class="col-sm-12 col-md-8 col-lg-5 about-card">
      <h2 id="main-subtitle">
        about me
      </h2>
      <h5> <span> hi, i'm dean!</span> </h5>
      <p>originally from the uk 🇬🇧 i've been living in yokohama 🇯🇵 since 2016. <br>
        <br>
        i'm a full stack web developer looking for opportunities at a teamwork focused company which values staff development.</p>
      <h5><span>other skills</span></h5>
      <p> my years managing in the hospitality and teaching industries have given me strong soft skills, notably communicaiton, making me a valuble team-player </p>
      <h5> <span>when i'm not coding</span></h5>
      <p> I love to cook, but especially with sous-vide! </p>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-5 about-skills">
      <h2>Languages</h2>
      <div class="mb-3 skill-icon-container">
        <i data-aos="fade-left" data-aos-duration="2000" class="devicon-ruby-plain aos-init aos-animate"></i>
        <i data-aos="fade-left" data-aos-duration="500" class="devicon-javascript-plain aos-init aos-animate"></i>
        <i data-aos="fade-left" data-aos-duration="1000" class="devicon-html5-plain aos-init aos-animate"></i>
        <i data-aos="fade-left" data-aos-duration="1500" class="devicon-css3-plain aos-init aos-animate"></i>
        <i data-aos="fade-left" data-aos-duration="2500" class="devicon-postgresql-plain aos-init aos-animate"></i>
      </div>
      <h2>Frameworks and Libraries</h2>
      <div data-aos="fade-left" class="mb-3 skill-icon-container aos-init aos-animate">
        <i data-aos="fade-left" data-aos-duration="1000" class="devicon-rails-plain aos-init aos-animate"></i>
        <i data-aos="fade-left" data-aos-duration="500" class="devicon-react-original aos-init aos-animate"></i>
        <i data-aos="fade-left" data-aos-duration="1500" class="devicon-bootstrap-plain aos-init aos-animate"></i>
        <i data-aos="fade-left" data-aos-duration="2000" class="devicon-sass-original aos-init aos-animate"></i>
        <i data-aos="fade-left" data-aos-duration="2500" class="devicon-github-original aos-init aos-animate"></i>
      </div>
      <h2>Other technologies</h2>
      <div data-aos="fade-left" class="skill-icon-container aos-init aos-animate">
        <i data-aos="fade-left" data-aos-duration="500" class="devicon-git-plain aos-init aos-animate"></i>
        <i data-aos="fade-left" data-aos-duration="1000" class="devicon-heroku-original aos-init aos-animate"></i>
        <i data-aos="fade-left" data-aos-duration="500" class="devicon-figma-plain"></i>
      </div>
    </div>
  </div>
</div>
