<div class="about-section">
  <span class="anchor" id="about"></span>
  <div class="row justify-content-around align-items-end">
    <div class="col-sm-12 col-md-8 col-lg-5 about-card">
      <h2>About Me</h2>
      <h5><span>Hi, I’m Dean! </span></h5>
      <p>Originally from the UK 🇬🇧, but been living in Yokohama 🇯🇵 since 2016.</p>
      <h5><span>Background</span></h5>
      <p>Animation, design and movie history but my true passion is code! I really love working on Frontend solutions and solving puzzles of the backend.</p>
      <h5><span>When I’m not coding</span></h5>
      <p> I'm into Judo, video games and both making and drinking fine cocktails!</p>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-5 about-skills">
      <h2>Languages</h2>
      <div class="mb-3 skill-icon-container"><i data-aos="fade-left" data-aos-duration="500" class="devicon-javascript-plain aos-init aos-animate"></i><i data-aos="fade-left" data-aos-duration="1000" class="devicon-html5-plain aos-init aos-animate"></i><i data-aos="fade-left" data-aos-duration="1500" class="devicon-css3-plain aos-init aos-animate"></i><i data-aos="fade-left" data-aos-duration="2000" class="devicon-ruby-plain aos-init aos-animate"></i><i data-aos="fade-left" data-aos-duration="2500" class="devicon-postgresql-plain aos-init aos-animate"></i></div>
      <h2>Frameworks and Libraries</h2>
      <div data-aos="fade-left" class="mb-3 skill-icon-container aos-init aos-animate"><i data-aos="fade-left" data-aos-duration="500" class="devicon-react-original aos-init aos-animate"></i><i data-aos="fade-left" data-aos-duration="1000" class="devicon-rails-plain aos-init aos-animate"></i><i data-aos="fade-left" data-aos-duration="1500" class="devicon-bootstrap-plain aos-init aos-animate"></i><i data-aos="fade-left" data-aos-duration="2000" class="devicon-sass-original aos-init aos-animate"></i><i data-aos="fade-left" data-aos-duration="2500" class="devicon-github-original aos-init aos-animate"></i></div>
      <h2>Other technologies</h2>
      <div data-aos="fade-left" class="skill-icon-container aos-init aos-animate"><i data-aos="fade-left" data-aos-duration="500" class="devicon-git-plain aos-init aos-animate"></i><i data-aos="fade-left" data-aos-duration="1000" class="devicon-heroku-original aos-init aos-animate"></i><i data-aos="fade-left" data-aos-duration="1500" class="devicon-firebase-plain aos-init aos-animate"></i></div>
    </div>
  </div>
</div>
