<div class="about-wrapper">
  <span class="anchor" id="about"></span>
  <div class="row">
    <div class="about-container">
      <div class="about-title">
        <span >ABOUT ME</span>
        <span id="title-break-line"></span>
      </div>
      <div class="about-points">
        <div class="about-point-info">
          <i class="fas fa-universal-access"></i>
          <p id="point-title">POINT 1</p>
          <p id= "point-info">I make sure my projects work on any device</p>
        </div>
        <div class="about-point-info">
          <i class="fas fa-universal-access"></i>
          <p id="point-title">POINT 2</p>
          <p id= "point-info">I make sure my projects work on any device</p>
        </div>
        <div class="about-point-info">
          <i class="fas fa-universal-access"></i>
          <p id="point-title">POINT 3</p>
          <p id= "point-info">I make sure my projects work on any device</p>
        </div>
        <div class="about-point-info">
          <i class="fas fa-universal-access"></i>
          <p id="point-title">POINT 4</p>
          <p id= "point-info">I make sure my projects work on any device</p>
        </div>
      </div>
      <div class="row about-details-tech">
        <div class="about-card">
          <h5 class="about-text-subtitle">HI, I'M DEAN!</h5>
          <p class="about-text-content">Originally from the UK, I've been living in yokohama since 2016. <br>
            <br>
            I'm a full stack web developer looking for opportunities at a teamwork focused company which values staff development.</p>
          <h5 class="about-text-subtitle">OTHER SKILLS</h5>
          <p class="about-text-content"> my years managing in the hospitality and teaching industries have given me strong soft skills, notably communicaiton, making me a valuble team-player </p>
          <h5 class="about-text-subtitle"> FREE TIME</h5>
          <p class="about-text-content"> I love to cook, and especially with sous-vide! </p>
        </div>
        <div class="about-skills">
          <h2 class= "mb-3 about-tech-subtitle">Languages</h2>
          <div class="skill-icon-container">
            <i data-aos="fade-left"  data-aos-once="false" data-aos-mirror="true" data-aos-duration="500" class="devicon-ruby-plain aos-init "></i>
            <i data-aos="fade-left"  data-aos-once="false" data-aos-mirror="true" data-aos-duration="1000" class="devicon-javascript-plain aos-init"></i>
            <i data-aos="fade-left"  data-aos-once="false" data-aos-mirror="true" data-aos-duration="1500" class="devicon-html5-plain aos-init"></i>
            <i data-aos="fade-left"  data-aos-once="false" data-aos-mirror="true" data-aos-duration="2000" class="devicon-css3-plain aos-init"></i>
            <i data-aos="fade-left"  data-aos-once="false" data-aos-mirror="true" data-aos-duration="2500" class="devicon-postgresql-plain aos-init"></i>
          </div>
          <h2 class= "mb-3 about-tech-subtitle">Frameworks and Libraries</h2>
          <div class="skill-icon-container">
            <i data-aos="fade-left" data-aos-duration="1000" class="devicon-rails-plain aos-init"></i>
            <i data-aos="fade-left" data-aos-duration="1500" class="devicon-react-original aos-init"></i>
            <i data-aos="fade-left" data-aos-duration="1500" class="devicon-bootstrap-plain aos-init"></i>
            <i data-aos="fade-left" data-aos-duration="2000" class="devicon-sass-original aos-init"></i>
            <i data-aos="fade-left" data-aos-duration="2500" class="devicon-github-original aos-init"></i>
          </div>
          <h2 class= "mb-3 about-tech-subtitle">Other technologies</h2>
          <div class="skill-icon-container">
            <i data-aos="fade-left" data-aos-duration="1000" class="devicon-git-plain aos-init"></i>
            <i data-aos="fade-left" data-aos-duration="1500" class="devicon-heroku-original aos-init"></i>
            <i data-aos="fade-left" data-aos-duration="2000" class="devicon-figma-plain aos-init"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
