<div class="banner">
  <span class="title">Hi!
  </span>
  <span class="title">i'm dean
  </span>
  <span class="title">fullstack
  </span>
  <span class="title">developer
  </span>
  <% link_to "#about" do %>
    <i class="fab fa-jedi-order"></i>
  <% end %>
</div>
