<div class="contact-wrapper">
  <span id="contact"></span>
  <div class="form-container">
    <div class="contact-info">
      <h2 class="project-subtitle">CONTACT ME</h2>
      <p>I’m always open to new projects. Send me a message and we can talk more about my portfolio.</p>
    </div>
    <form action="https://getform.io/f/776f5d76-8ecc-4234-bb5b-9d7401f496ec" method="POST">
      <div class="form-group">
        <label id="emailinput" for="exampleFormControlInput1">EMAIL ADDRESS</label>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label id="messageinput" for="exampleFormControlTextarea1">MESSAGE</label>
        <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
      <button type="submit" class="website-button">Submit</button>
    </form>
    <div class="footer-container">
      <span id="footer-break-line"></span>
      <div class="footer">
        <p>(c) 2021, DEAN ABBOTT  </p>
        <% link_to 'https://github.com/HundiBar/' do %>
          <i class="devicon-github-original colored"></i>
        <% end %>
        <% link_to 'https://www.linkedin.com/in/dean-abbott/' do %>
          <i class="devicon-linkedin-plain"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
