<div class="hero-wrapper">
  <div class="hero-container">
    <div class="hero-info">
      <div>
        <%= image_tag'../images/avatar.jpeg', class: 'hero-avatar' %>
      </div>
      <div class="hero-text" style="color:white;">
        <span id="hero-hey">
          <h4>HEY I'M</h4>
        </span>
        <span id="hero-name">
          <h1>DEAN ABBOTT</h1>
        </span>
        <span id="hero-tech-stack">
          <h4 >FULL STACK WEB DEVELOPER <br>
            RUBY ON RAILS | JAVASCRIPT | REACT
          </h4>
        </span>
        <div class="resume-container">
          <%= link_to 'My resume', '../Dean Abbott CV.pdf', class: 'resume-link'%>
        </div>
        <div class="chevron">
          <%link_to '#about' do %>
            <i class="fas fa-chevron-down"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
