<div class="hero-wrapper">
  <div class="hero-container">
    <div class="row hero-info medium-up-4">
      <div id="element1">
        <%= image_tag'../images/avatar.jpeg', class: 'hero-avatar' %>
      </div>
      <div id="element2" class="hero-text" style="color:white;">
        <span id="hero-hey">
          <h4>HEY I'M</h4>
        </span>
        <span id="hero-name">
          <h1>DEAN <span class="name-break-tablet"><br>
            </span> ABBOTT</h1>
        </span>
        <span id="hero-tech-stack">
          <h4 >FULL STACK WEB DEVELOPER <br>
            RUBY ON RAILS | JAVASCRIPT | <span class="name-break-tablet"><br>
            </span> REACT
          </h4>
        </span>
        <div id= "element3" class="resume-container">
          <%= link_to 'My resume', '../Dean Abbott CV.pdf', class: 'resume-link'%>
        </div>
        <div id="element4"class="chevron">
          <%link_to '#about' do %>
            <i class="fas fa-chevron-down"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
