<div class="hero-wrapper">
  <div class="hero-container">
    <div class="row hero-info medium-up-3">
      <div id="element1">
        <%= image_tag'../images/avatar.jpeg', class: 'hero-avatar' %>
      </div>
      <div id="element2" class="hero-text" style="color:white;">
        <span id="hero-hey">
          <h4>HEY I'M</h4>
        </span>
        <span id="hero-name">
          <h1>DEAN <span class="name-break-tablet"><br>
            </span> ABBOTT</h1>
          <h4 id="hero-tech-stack" >FULL STACK WEB DEVELOPER <br>
            RUBY ON RAILS | JAVASCRIPT <span class="name-break-tablet"><br>
              | REACT
            </h4>
            <div id= "element3" class="resume-container">
              <%#= link_to 'My resume', 'https://pdfhost.io/v/.bENl1atq_Dean_Abbott_Resume', class: 'resume-link', target: 'blank' %>
              <%= link_to 'My resume', 'assets/Dean Abbott CV.pdf', class: 'resume-link', target: 'blank' %>
            </div>
          </div>
        </div>
      </div>
    </div>
