<nav class='navigation'>
  <div class="hamburger">
    <% link_to '#hero' do %>
      <i class="fas fa-bars"></i>
    <% end %>
  </div>
  <div class="nav-links">
    <%= link_to 'ABOUT', '#about'%>
    <%= link_to 'PROJECTS', '#projects'%>
    <%= link_to 'CONTACT', '#contact'%>
  </div>
</nav>
