<div class="dark-wrapper">
  <span class="anchor-dark" id="projects"></span>
  <div class="project-dark medium-up-3">
    <div class="device-container" id="project-el1">
      <div data-aos="zoom-in" data-aos-duration="2000" class="project-device-iphone-8 aos-init aos-animate">
        <div class="device device-spacegray device-iphone-8">
          <div class="device-frame">
            <%= image_tag'../images/midorin.jpg', class: 'device-content project-img' %>
          </div>
          <div class="device-stripe"></div>
          <div class="device-header"></div>
          <div class="device-sensors"></div>
          <div class="device-btns"></div>
          <div class="device-power"></div>
        </div>
      </div>
    </div>
    <div class="project-info" id="project-el2">
      <h2 class="project-subtitle">MIDORIN</h2>
      <p>Midorin is a mobile first application developed to be a one stop shop to allow you to become better at caring for your plants</p>
      <h2 class="project-subtitle-white">APPLICATION FEATURES:</h2>
      <ul>
        <li>Sign up with LINE</li>
        <li>Add plants to your own virtual garden</li>
        <li>Receive watering reminders to your LINE</li>
        <li>Identify plants with your mobile camera</li>
        <li>Search a specific plant or filter plants</li>
        <li>Receive support from the Midorin community in the chat channels</li>
      </ul>
      <p>This app taught me a lot about sending API requests, matching search data to the database, the power and versatility of Javascript and setting up a PWA</p>
      <div class="project-links">
        <%= link_to "Website", "https://www.midorin.one", class: 'website-button', target: '_blank'%>
        <%= link_to "Github", "https://github.com/HundiBar/Midorin", class: 'github-dark-button', target: '_blank'%>
      </div>
    </div>
  </div>
</div>
