<div data-aos="zoom-in" data-aos-duration="2000" class="banner">
  <span class="title aos-init aos-animate">Hi!
  </span>
  <span class="title aos-init aos-animate">i'm dean
  </span>
  <span class="title aos-init aos-animate">fullstack
  </span>
  <span class="title aos-init aos-animate">developer
  </span>
  <% link_to "#about" do %>
    <i class="fab fa-jedi-order chev"></i>
  <% end %>
</div>
