<nav class='navigation'>
  <div class="jedi-burger">
    <i class="fab fa-jedi-order"></i>
  </div>
  <div class="nav-links">
    <%= link_to 'about', '#about'%>
    <%= link_to 'projects', '#projects'%>
    <%= link_to 'contact', '#contact'%>
  </div>
</nav>
