.about-wrapper {
  background-color: #FFFEFE;
}

.anchor {
  transform: translateY(-10vh);
}

#laptop {
  position: relative;
  font-size: 64px;
}
#phone {
  position: relative;
  font-size: 56px;
}


.about-container {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    padding: 86px 0;
}

.about-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Archivo Black';
  padding-bottom: 12px;
  font-size: 32px;
  line-height: 150%;
  margin: 0 auto
}

#title-break-line {
  margin: 0 auto;
  padding-top: 12px;
  width: 100px;
  border-bottom: 2px solid #EA3B39;
}

.about-points {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 32px 0;
}

.about-point-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 160px;
}

.about-point-info i {
  font-size: 80px;
  color: #EA3B39;
  line-height: 92px;
}

#point-title {
  font-family: 'Archivo black';
  font-size: 20px;
  font-weight: normal;
  color: #11141E;
}

#point-info {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  color: #11141E;
  line-height: 125%;
}

.about-details-tech {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.about-card {
  width: 50%;
}

.about-text-subtitle {
  font-family: 'Archivo Black';
  font-weight: 400;
  font-size:20px;
  color: #11141E;
}

.about-text-content {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  color: #11141E;
  line-height: 125%;
}

.about-tech-subtitle {
  font-family: 'Archivo Black';
  font-weight: 400;
  font-size:20px;
  color: #EA3B39;
  line-height: 22px
}

.skill-icon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,40px);
    grid-gap: 21px;
    margin-bottom: 8px;
}

.skill-icon-container i {
    font-size: 54px;
    padding-bottom: 16px;
}

@media (max-width: 794px){
  .about-points {
    padding: 0 162px;
  }
  .about-container {
    width: 100%;
  }
  .about-card {
    display: inline-block;
    margin:0 auto;
    width: 75%;
  }
  .about-skills {
    display: inline-block;
    margin:0 auto;
    width: 75%;
  }
}

@media (max-width: 461px){
  .about-points {
    padding: 0 42px;
  }

}

@media (max-width: 400px){
  .about-points {
    padding: 0 24px;
  }
}

