@font-face {
  font-family: 'episode';
  src: url('../fonts/episode.ttf') format('truetype');
}

.about-section {
  min-height: 100vh;
  margin-bottom: 50px;

}

.anchor {
  position: absolute;
  transform: translateY(-20vh);
}

.about-card {
  max-width: 600px;
  min-height: 400px;
  padding: 24px 50px;
  box-shadow: 0 0 2px white;
  & p, h2, h5  {
    color: #FEE91F;
  font-family: 'episode';

  }
}

// .about-card  {
//   color: #FEE91F;
//   font-family: 'episode';
//   text-shadow: 0 2px 5px white;
//   opacity: 0.8;
//   font-size: 40px;
//   margin-bottom: 18px;
//
// }

.about-skills {
  color: white;
}

.skill-icon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,80px);
    grid-gap: 18px;

}

.about-skills i {
    font-size: 66px;
}

