@font-face {
  font-family: 'episode';
  src: url('../fonts/episode.ttf') format('truetype');
}

.about-section {
  min-height: 100vh;
  margin-bottom: 50px;

}

.anchor {
  position: absolute;
  transform: translateY(-20vh);
}

.about-card {
  max-width: 600px;
  min-height: 400px;
  padding: 24px 50px;
  box-shadow: 0 0 15px red;
  border-radius: 9px;
  background-color: rgb(41, 40, 40);
  opacity: 0.8;
  word-spacing: 5px;
  & p {
  color: white;
  font-family: 'episode';
  }
}

#main-subtitle {
  padding: 10px 0;
  color: #FEE91F;
  font-family: 'episode';
  border-bottom: 3px solid red;
  margin-bottom: 18px;
}

.about-card span {
  color: #FEE91F;
  font-family: 'episode';
  border-bottom: 3px solid red;
}



.about-skills {
  color: white;
  text-shadow: 0 1px red;
  padding-top: 50px;
  opacity: 0.8;
  & h2 {
    padding-bottom: 8px;
  }
}

.skill-icon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,80px);
    grid-gap: 18px;

}

.about-skills i {
    font-size: 66px;
    padding-bottom: 16px;
}

@media (min-width: 350px) {
  .anchor {
  transform: translateY(-10vh);
  }
  .about-card {
    font-size:12px;
    margin-bottom: 30px;
  }
}

