@font-face {
  font-family: 'starwars';
  src: url('../fonts/Starjhol.ttf') format('truetype');
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  min-height: 100vh;
  margin-bottom: 100px;
}
.title {
  font-family: 'starwars';
  font-size: 50px;
  color: #FEE91F;
  text-shadow: 0px 2px 10px white;
}

.fa-jedi-order {
  font-size: 48px;
  transform: rotate(180deg);
  color: white;
  margin-top: 64px;
  text-shadow: 0 0 10px #FEE91F;
}

@keyframes chevron {
  0% {transform: translateY(10px);}
  25% {transform: translateY(-10px);}
  50% {transform: translateY(10px);}
  75% {transform: translateY(-10px);}
  100% {transform: translateY(100px);}
}

.fa-jedi-order {
  animation: chevron 4s linear 0s infinite alternate;
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateZ(-1000em)
    // opacity: 0;
    // transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
    transform: scale(1)
    // opacity: 1;
  }
  89% {
    opacity: 1;
    // transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
    // opacity: 0;
    // transform: translateZ(-1000em);
  }
}

.title {
  animation: title 10s ease-out infinite;
}

@media (min-width: 350px) {
  .title {
    font-size: 40px;
  }
}
@media (min-width: 540px) {
  .title {
    font-size: 80px;
  }
}

.banner {
  perspective: 800px;
  transform-style: preserve3d;
}
