.contact-wrapper {
  background: #FFFEFE;
  padding: 90px 0;
}

.form-container {
  width: 50%;
  margin: 0 auto;
}

.contact-info p {
  font-family: 'Montserrat' ;
  font-size: 16px;
  line-height: 20px;
}

#exampleFormControlInput1 {
  border-radius: 8px;
  border: 1px solid #11141E;
  font-family: 'Archivo Black';
  font-size: 20px;
  line-height: 26px;
}

#exampleFormControlTextarea1 {
  border-radius: 8px;
  border: 1px solid #11141E;

}

#emailinput {
  font-family: 'Archivo Black';
  font-size: 20px;
  line-height: 26px;
}

#messageinput {
  font-family: 'Archivo Black';
  font-size: 20px;
  line-height: 26px;
}


@media (max-width: 461px) {
  .form-container {
  width: 90%;
  }
}
