// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "about";
@import "projects";


.content-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
}


