.navigation {
  height: 60px;
  position: sticky;
  background-color:#11141E;;
  top: 0;
  padding-left: 30px;
  font-family: 'Archivo';
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  width: 100%;
  z-index: 10;
}

.hamburger a {
  color: #FFFFFF;
  font-size:24px;
  transition: .5s ease-in-out;
}

.hamburger.open a {
  color: #EA3B39;
}

.nav-links a {
  color: #FFFFFF;
  padding-left: 24px;
  &:hover {
    text-decoration-line: underline;
    text-underline-offset: 5px;
  }
}

.nav-links {
  opacity: 0;
  transition: .5s ease-in-out;
}

.nav-links.open {
  opacity: 1;
}
