.dark-wrapper {
  background: #11141E;
}

.light-wrapper {
  background: #FFFEFE;
}

.project-dark {
  color: #FFFEFE;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-light {
  color: #11141E;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.device.device-spacegray.device-iphone-8 {
  transform: scale(0.65);
}

.device.device-gold.device-macbook {
  transform: scale(0.5);
  }

.project-device-iphone-8 {
  margin-top: -80px;
  margin-bottom: -80px;
}

.project-device-macbook {
  margin-top: 90px;
  margin-bottom: 90px;
  margin-right: -170px;
  margin-left: -260px;
}

#midorin-frame {
  background: #222;
  box-shadow: inset 0 0 0 6px #E3CA81, inset 0 0 0 12px #9b9ba0;
}

#cgl-frame {
  background: #222;
  box-shadow: inset 0 0 0 6px #E86870, inset 0 0 0 12px #9b9ba0;
}

.project-info-dark {
  width: 30%;
  margin-left: 150px;
}

.project-info-light {
  width: 30%;
  margin-right: 150px;
}

.project-info-light p, li {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 20px;
}

.project-info-dark p, li {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 20px;
}

.project-subtitle {
  font-family: 'Archivo Black';
  font-weight: 400;
  font-size:24px;
  color: #EA3B39;
  line-height: 26px;
  margin-bottom: 16px;
}

.project-subtitle-white {
  font-family: 'Archivo Black';
  font-weight: 400;
  font-size:24px;
  color: #FFFEFE;
  line-height: 26px;
  margin-bottom: 16px;
}

.project-subtitle-dark {
  font-family: 'Archivo Black';
  font-weight: 400;
  font-size:24px;
  color: #11141E;
  line-height: 26px;
  margin-bottom: 16px;
}

.project-links {
  display: flex;
  margin-top: 32px;
}

.website-button {
  background: #EA3B39;
  padding: 12px 32px;
  border-radius: 8px;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Archivo Black';
  font-size: 16px;
  color: #FFFEFE;
  margin-right: 24px;
  transition: .5s ease-in-out;
  &:hover {
    transform: scale(1.1);
    color: #FFFEFE;
  }
}

.github-dark-button {
  padding: 12px 32px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Archivo Black';
  font-size: 16px;
  color: #FFFEFE;
  border: 2px solid #FFFEFE ;
  transition: .5s ease-in-out;
  &:hover {
    transform: scale(1.1);
    color: #FFFEFE;
  }
}

.github-light-button {
  padding: 12px 32px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Archivo Black';
  font-size: 16px;
  color: #11141E;
  border: 2px solid #11141E ;
  transition: .5s ease-in-out;
  &:hover {
    transform: scale(1.1);
    color: #11141E;
  }
}
@media (max-width: 794px) {
  .project-dark {
    flex-wrap: nowrap;
  }
  .project-light {
    flex-wrap: nowrap;
  }
  .project-info-dark{
    width: 100%;
    margin: 90px 24px;
  }
  .project-info-light{
    width: 100%;
    margin: 90px 24px;
  }
  .device.device-gold.device-macbook {
  transform: scale(0.5);
  // margin-left: 100px;
  }


}

@media (max-width: 461px) {
  .project-dark {
    flex-wrap: wrap;
  }
  .project-light {
    flex-wrap: wrap;
  }
  .project-info-light {
  width: 90%;
  margin-right: 0px;
  margin-left:0px;
  margin-top:0px;
  margin-bottom: 0px;
  padding-top: 16px;
  }
  .project-info-dark {
  width: 90%;
  margin-right: 0px;
  margin-left:0px;
  margin-top:0px;
  margin-bottom: 0px;
  padding-top: 16px;
  }
  .project-links {
    padding-bottom: 16px;
  }
  #project-el1 {
    order: +1;
  }
  .device.device-spacegray.device-iphone-8 {
  transform: scale(0.5);
  }
  .device-container {
    overflow: hidden;
    margin: 0;
  }
  .project-device-iphone-8 {
    margin-top: -175px;
    margin-bottom: -150px;
    width: 90%;
    overflow: hidden;
  }
  .project-subtitle{
    padding-top: 32px;
  }
  .device.device-gold.device-macbook {
  transform: scale(0.5);
  margin-left: 8px;
  }
  // .project-device-macbook {
  //   margin-top: -48px;
  //   margin-right: -252px;
  //   width: 90%;
  // }
  #projects {
    padding-bottom: 60px;
  }
}
