// @font-face {
//   font-family: 'episode';
//   src: url('../fonts/episode.ttf') format('truetype');
// }
.project-card-info {
  padding: 0 15px;
  color: white;
  word-spacing: 5px;
  font-family: 'episode';
  opacity: 0.9;

}

.project-main-subtitle {
  padding: 10px 0;
  color: #FEE91F;
  font-family: 'episode';
  border-bottom: 3px solid #FF0200;
  margin-bottom: 18px;
}

.project-card-info h1 {
  color: white;
}
.project-card-info p {
  color:rgb(233, 230, 230);
  text-shadow: 0 0px 1px rgb(121, 109, 109);
}
.blue-lightsaber {
  text-shadow: 0 2px 3px #18EAF2;
}

.project-bullets {
  font-size: 12px;
}

.empower-title {
  border-bottom: 1px solid #18EAF2;
}
.product-subtitle-underline {
  border-bottom: 1px solid #FF0200;
}

.tech-icons {
  color: white;
  margin-top: 18px;
  text-shadow: 0 0 6px #FF0200;
}

.tech-icons i {
  font-size: 32px;
  margin: 8px;
}

.button {
  width: 80px;
  padding-bottom: 6px;
  font-family: 'episode';
  border-radius: 30px;
  border: 1px solid rgba(255,255,255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  color:white ;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5) ;
  text-decoration: none;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
    box-shadow: 0 1px 6px #18EAF2;
  }
}

.device.device-spacegray.device-iphone-8 {
    transform: scale(0.5) translateY(-50%) translateX(-50%);
    // transform: ;
}

@media (min-width: 350px) {
  .project-card-info {
    padding: 0 45px;
  }
  .project-device-iphone-8 {
    margin: 30px;
  }
}
@media (min-width: 750px) {
  .project-card-info {
    padding: 0 45px;
  }
  .project-device-iphone-8 {
    margin: 75px;
  }
  // #element1 {
  // order: +1;
  // }
}
