<div class="content-container">
  <%= partial 'partials/nav' %>
  <%= partial 'partials/hero' %>
  <div class="about-project-container">
    <%= partial 'partials/about' %>
    <%= partial 'partials/project' %>
  </div>
</div>
